@model SoftN_Trainings.Models.BO.Session

@{
    ViewBag.Title = "Sessie Detail";
}

<h2>Details</h2>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Training.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Training.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.City)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxAttendees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxAttendees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainers)
        </dt>

        <dd>
            @Html.ListBox("Id", new SelectList(Model.Trainers, "Id", "Fullname"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requisites)
        </dt>

        <dd>
            @Html.ListBox("Id", new SelectList(Model.Requisites, "Id", "Name"))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
