@model IEnumerable<SoftN_Trainings.Models.BO.Session>

@{
    ViewBag.Title = "Sessies Overzicht";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <div class="col-md-12">
        <div class="col-md-6">        
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Sessions", FormMethod.Post, new { id = "sortingForm" }))
            {
                <div class="col-md-6">
                    All Sessions: @Html.RadioButton("typeList", "AllSessions", false, new { @class = "radio" })
                </div>
                <div class="col-md-6">
                    Upcoming Sessions: @Html.RadioButton("typeList", "UpcomingSessions", true, new { @class = "radio" })
                </div>
            }
        </div>
    </div>
}

<p>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create New", "Create")
}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Sessie")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacesLeft)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Training.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlacesLeft)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {   
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) @:|
                @Html.ActionLink("Details", "Details", new { id=item.ID }) @:|
                @Html.ActionLink("Delete", "Delete", new { id=item.ID }) @:|
            }
            @Html.ActionLink("Inschrijven", "Create", "Inscriptions", new { sessionId = item.ID }, null)
            
            
        </td>
    </tr>
}

</table>
@section Javascript
    {
    <script>
        $(function () {
            $('#sortingForm .radio').change(function () {
                $('#sortingForm').submit();
            });
        });
    </script>
    }

