@model PagedList.IPagedList<SoftN_Trainings.Models.BO.Session>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Sessies Overzicht";
}

<h2>Index</h2>

<div class="col-md-12"> 
    @using (Html.BeginForm("Index", "Sessions", FormMethod.Get))
    {
        <div class="col-md-6">
            @Html.Hidden("typeList", ViewBag.TypeList as string)
            <p>
                Find by name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Sessions", FormMethod.Post, new { id = "sortingForm" }))
            {
                <div class="col-md-6">
                    All Sessions: @Html.RadioButton("typeList", "AllSessions", false, new { @class = "radio" })
                </div>
                <div class="col-md-6">
                    Upcoming Sessions: @Html.RadioButton("typeList", "UpcomingSessions", true, new { @class = "radio" })
                </div>
            }
        </div>
    }
</div>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Sessie", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, typeList = ViewBag.TypeList })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Location.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PlacesLeft)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Training.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacesLeft)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @:|
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }) @:|
                }
                @Html.ActionLink("Inschrijven", "Create", "Inscriptions", new { sessionId = item.ID }, null)
            </td>
        </tr>
    }

</table>
<br />
Page@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@section Javascript
{
    <script>
        $(function () {
            $('#sortingForm .radio').change(function () {
                $('#sortingForm').submit();
            });
        });
    </script>
}

