@model SoftN_Trainings.ViewModels.InscriptionViewModel

@{
    ViewBag.Title = "Inschrijving Aanmaken";
}

<h2>Create</h2>


@using (Html.BeginForm("Create","Inscriptions",FormMethod.Post, new { onsubmit= "return validateForm();" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Inscription.SessionID)
    @Html.HiddenFor(model => model.Session.MaxAttendees)
    <div class="form-horizontal">
        <h4>Inscription</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Session.Training.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inscription.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inscription.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inscription.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inscription.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inscription.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.NumberAttendees, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.NumberAttendees, new { htmlAttributes = new { @class = "form-control", @onchange = "onchangeevent();" } })
                @Html.ValidationMessageFor(model => model.Inscription.NumberAttendees, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.WaitingList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Inscription.WaitingList)
                    @Html.ValidationMessageFor(model => model.Inscription.WaitingList, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        

        <div class="insert">
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" id="submitBtn" name="submitBtn"/>
            </div>
        </div>
    </div>
    
}
@section Javascript
    {
    <script>
        var currentCounter = 0;

        var allAttendees = new Array();

        $(document).ready(function () {
            var input = Number(document.getElementById("Inscription_NumberAttendees").value);
            if (input != 0)
            {
                loadAttendees();
            }

        });

        function loadAttendees() {

            @foreach(var d in Model.Attend)
            {
                @:allAttendees.push("@d");
            }

            currentCounter = Number(allAttendees.length / 2);

            var e = 0;

            for (i = 0; i < allAttendees.length; i += 2) {

                var attendnr = e + 1;
                var lastname = allAttendees[i];
                var firstname = allAttendees[i + 1];


                var div = $(document.createElement('div'));
                $(div).attr('id', 'attendee' + currentCounter);
                $(div).attr('class', 'form-group col-md-12')
                var divLstN = $(document.createElement('div'));
                $(divLstN).attr('class', 'col-md-5');
                var divFrstN = $(document.createElement('div'));
                $(divFrstN).attr('class', 'col-md-5');

                $(div).append('<label class="control-label col-md-2">Deelnemer ' + attendnr + '</label>');
                $(divLstN).append('<label class="control-label">Achternaam</label>');
                $(divLstN).append('<input class="form-control text-box single-line" htmlAttributes="{ class = form-control }" id="AttendeesLst_' + currentCounter + '" onkeyup="deleteError(this.id);" name="Attendees[' + e + '].LastName" type="text" value="' + lastname + '" />');
                $(divLstN).append('<span class="field-validation-valid text-danger" id="error_AttendeesLst_' + e + '"></span>');
                $(div).append(divLstN);
                $(divFrstN).append('<label class="control-label">Voornaam</label>');
                $(divFrstN).append('<input class="form-control text-box single-line" htmlAttributes="{ class = form-control }" id="AttendeesFst_' + currentCounter + '" onkeyup="deleteError(this.id);" name="Attendees[' + e + '].FirstName" type="text" value="' + firstname + '" />');
                $(divFrstN).append('<span class="field-validation-valid text-danger" id="error_AttendeesFst_' + e + '"></span>');
                $(div).append(divFrstN);
                $('.insert').append(div);   

                e++;
            }
        }

        function onchangeevent() {
            var inputCounter = Number(document.getElementById("Inscription_NumberAttendees").value);

            if (inputCounter < currentCounter) {
                var diff = currentCounter - inputCounter;
                var indexLastDif = currentCounter - 1;

                for (i = 0; i < diff; i++) {
                    var element = document.getElementById("attendee" + indexLastDif);
                    element.parentNode.removeChild(element);
                    indexLastDif--;
                }
            }

            if (inputCounter > currentCounter) {
                var diff = inputCounter - currentCounter;
                var indexDif = currentCounter;

                for (i = 0; i < diff; i++) {
                    var attendnr = Number(currentCounter) + 1;

                    var div = $(document.createElement('div'));
                    $(div).attr('id', 'attendee' + currentCounter);
                    $(div).attr('class','form-group col-md-12')
                    var divLstN = $(document.createElement('div'));
                    $(divLstN).attr('class', 'col-md-5');
                    var divFrstN = $(document.createElement('div'));
                    $(divFrstN).attr('class', 'col-md-5');

                    $(div).append('<label class="control-label col-md-2">Deelnemer ' + attendnr + '</label>');
                    $(divLstN).append('<label class="control-label">Achternaam</label>');
                    $(divLstN).append('<input class="form-control text-box single-line" htmlAttributes="{ class = form-control }" id="AttendeesLst_' + currentCounter + '" onkeyup="deleteError(this.id);" name="Attendees[' + currentCounter + '].LastName" type="text" value="" />');
                    $(divLstN).append('<span class="field-validation-valid text-danger" id="error_AttendeesLst_' + currentCounter + '"></span>');
                    $(div).append(divLstN);
                    $(divFrstN).append('<label class="control-label">Voornaam</label>');
                    $(divFrstN).append('<input class="form-control text-box single-line" htmlAttributes="{ class = form-control }" id="AttendeesFst_' + currentCounter + '" onkeyup="deleteError(this.id);" name="Attendees[' + currentCounter + '].FirstName" type="text" value="" />');
                    $(divFrstN).append('<span class="field-validation-valid text-danger" id="error_AttendeesFst_' + currentCounter + '"></span>');
                    $(div).append(divFrstN);
                    $('.insert').append(div);

                    currentCounter++;
                }
            }
            currentCounter = inputCounter;
        }

        function validateForm() {
            for (i = 0; i < currentCounter; i++) {
                var check = true;
                var elementLst = document.getElementById('AttendeesLst_' + i);
                var elementFst = document.getElementById('AttendeesFst_' + i);

                if (elementLst.value == '') {
                    document.getElementById('error_AttendeesLst_' + i).innerHTML = "Het veld Achternaam is vereist.";
                    check = false;
                }
                if (elementFst.value == '') {
                    document.getElementById('error_AttendeesFst_' + i).innerHTML = "Het veld Voornaam is vereist.";
                    check = false;
                }
            }
            if (check == false) {
                return false;
            } else {
                return true;
            }
        }

        function deleteError(argId) {
            document.getElementById('error_' + argId).innerHTML = "";
        }

    </script>
    }
    

<div>
    @Html.ActionLink("Back to Session List", "Index", "Sessions")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
