@model SoftN_Trainings.ViewModels.InscriptionViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Inscription.SessionID)
    @Html.HiddenFor(model => model.Session.MaxAttendees)
    <div class="form-horizontal">
        <h4>Inscription</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Session.Training.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inscription.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inscription.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inscription.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inscription.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inscription.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.NumberAttendees, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscription.NumberAttendees, new { htmlAttributes = new { @class = "form-control", @onchange = "onchangeevent();" } })
                @Html.ValidationMessageFor(model => model.Inscription.NumberAttendees, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inscription.WaitingList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Inscription.WaitingList)
                    @Html.ValidationMessageFor(model => model.Inscription.WaitingList, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div class="insert">            
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
    
}
@section Javascript
    {
    <script>
        function onchangeevent() {
            var counter = document.getElementById("Inscription_NumberAttendees").value;
            $(".insert").empty();
            for (i = 0; i < counter; i++) {
                var attendnr = i + 1;

                var div1 = $(document.createElement('div'));
                $(div1).attr('class', 'form-group');
                var div2 = $(document.createElement('div'));
                $(div2).attr('class', 'col-md-10');
                var div3 = $(document.createElement('div'));
                $(div3).attr('class', 'form-group');
                var div4 = $(document.createElement('div'));
                $(div4).attr('class', 'col-md-10');
                //div1 = setAttribute("class", "form-group");

                /*var label1 = document.createElement("label");
                label1.setAttribute("class", "control-label col-md-2");
                label1.innerHTML = "Last Name " + attendnr;

                var textbox1 = document.createElement("input");
                textbox1.setAttribute("class", "form-control text-box single-line");
                textbox1.setAttribute("type", "text");
                textbox1.setAttribute("name", "Attendees[" + i +"].LastName");
                textbox1.setAttribute("value", "");
                textbox1.setAttribute("htmlAttributes", "{ class = form-control }");

                var label2 = document.createElement("label");
                label2.setAttribute("class", "control-label col-md-2");
                label2.innerHTML = "First Name " + attendnr;

                var textbox2 = document.createElement("input");
                textbox2.setAttribute("class", "form-control text-box single-line");
                textbox2.setAttribute("type", "text");
                textbox2.setAttribute("name", "Attendees[" + i + "].FirstName");
                textbox2.setAttribute("value", "");
                textbox2.setAttribute("htmlAttributes", "{ class = form-control }");

                
                $(div1).append(label);
                //div1.appendChild(textbox);
                $('.insert').after(div1);
                $(".insert").append(textbox1);
                $(".insert").append(label2);
                $(".insert").append(textbox2);*/
                $(div1).append('<label class="control-label col-md-2">Last Name ' + attendnr + '</label>');
                $(div2).append('<input class="form-control text-box single-line" data-val="true" data-val-required="Het veld Last Name is vereist." htmlAttributes="{ class = form-control }" name="Attendees[' + i + '].LastName" type="text" value="" />');
                $(div2).append('<span class="field-validation-valid text-danger" data-valmsg-for="Attendee.LastName" data-valmsg-replace="true"></span>');
                $(div1).append(div2); 
                $('.insert').append(div1);
                $(div3).append('<label class="control-label col-md-2">First Name ' + attendnr + '</label>');
                $(div4).append('<input class="form-control text-box single-line" data-val="true" data-val-required="Het veld First Name is vereist." htmlAttributes="{ class = form-control }" name="Attendees[' + i + '].FirstName" type="text" value="" />');
                $(div4).append('<span class="field-validation-valid text-danger" data-valmsg-for="Attendee.FirstName" data-valmsg-replace="true"></span>');
                $(div3).append(div4);
                $('.insert').append(div3);
            }
            
                


            //var text = "hello";
            //$(".insert").append(text);  
        }
    </script>
    }
    

    



<div>
    @Html.ActionLink("Back to Session List", "Index", "Sessions")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
