@model SoftN_Trainings.ViewModels.InscriptionViewModel

@{
    ViewBag.Title = "Inschrijving Detail";
}

<h2>Details</h2>

<div>
    <h4>Inscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inscription.Session.Training.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inscription.Session.Training.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inscription.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inscription.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inscription.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inscription.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inscription.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inscription.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inscription.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inscription.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inscription.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inscription.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inscription.NumberAttendees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inscription.NumberAttendees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inscription.WaitingList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaitingList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inscription.Attendees)
        </dt>
        
        <dd>
            @Html.ListBox("Id", new SelectList(Model.Inscription.Attendees, "Id", "Fullname"))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Inscription.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
